body {
  background-color: #121212 !important;
}

.side-bar {
  background: #121212;
  color: white;
  border-right: 0;
}

.main-header,
.site-header {
  border-bottom: 0;
}

tr,
th,
td,
.language-bash,
.main,
.search,
#search-input-wrap,
#main,
#search-input,
#search-results,
.search-input-wrap #nav-bar {
  background: #121212 !important;
  color: white;
}

pre,
code,
.operator {
  background: #212b22 !important;
  color: white !important;
  text-shadow: none !important;
}

body a,
a:visited,
a:active {
  color: #569cd6;
  text-decoration: none;
  background-image: none !important;
}
.nav-list .nav-list-item .nav-list-link.active {
  background-image: none !important;
}

.search-result:hover,
.search-result.active {
  background-color: #464646;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 500;
  line-height: 1.25;
  color: white;
}

img {
  background: white;
}
